<p>
  כוכב קטן טייל לו בשמיים<br/>
  פתאום פגש כוכב קטן אחר,<br/>
  יצאו הם יחד לטיול בשניים,<br/>
  כמה טוב לפגוש כך בחבר.<br/>
</p>

<p>
  הם שחקו במחבואים בין העננים,<br/>
  הם רצו בתופסת, בין צבעי הקשת,<br/>
  וכשהתעייפו - חזרו בלב שמח,<br/>
  לנוח בחיקו של דוד ירח.<br/>
</p>