/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


@import "bootstrap";
@import "united";
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


body {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  direction: rtl;

  background: url(https://s3.amazonaws.com/jazz_prod/erela/music/spring.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

nav {
  font-size: 20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.title-header {
  text-align: center;
}

.carousel-holder {
  width:600px;
  margin: 0 auto;
  float: none;
}

.song-holder {
  padding:10px 0;
  .title {
    font-size:26px;
  }
}

.lyrics {
  p {
    font-size: 20px;
  }
}

.content-container {

}

.footer-container {
  background: #fff;
  padding: 30px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  .footer-nav {
    margin: 0 0 30px 0;
    list-style: none;
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      border-left: 1px solid #777;
      &:last-child {
        border-left: none;
      }
      a {
        display: inline-block;
        vertical-align: top;
        color: #777;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}